@media (min-width:320px) and (max-width:767px)
	.card__title
		font-size 56px
		
@media (min-width:768px) and (max-width:1023px)
	.card__title
		font-size 72px
		
@media (min-width:568px) and (max-width:639px) and (orientation : landscape)
	.card__title
		font-size 52px